.MainBox{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    row-gap: 30px;
    margin-top: 3%;
}

 .EachItem
{
    width:420px;
    height:33vh;
    border:2px solid rgb(245, 198, 198);
    border-radius: 20px;
    background-color: rgb(206, 229, 241);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    
}

#img{
    width:100%;
    height:100%;
    object-fit: contain;
}

.Image{
    width:30%;
    height:28vh;
    margin:auto;
}

.topBar{
    margin-top:3%;
    text-align: right;
}


.details{
    width:65%;
    text-align:left;
    margin-left:5%;
}

.button{
    margin:5% !important;
    color:blue;
}



@media only screen and (min-width:376px) and (max-width:768px) {

    .MainBox{
        display:flex;
        justify-content:center;
        align-items: center;
        row-gap: 30px;
        margin-top: 4%;
    }
    
     .EachItem
    {
        width:600px;
        height:30vh;
        display: flex;
    }

    
    .Image{
        width:45%;
    }
    
    .topBar{
        text-align: center;
    }

    .details{
        width:55%;
        font-size: 20px;
        text-align:left;
        margin-left:5%;
    }

    .button{
        margin:10% !important;  
        font-size: 20px !important;
    }


}

@media only screen and (max-width:375px) {
    

    
     .EachItem
    {
        width:350px; 
    }
    
    .details{
        width:65%;
        text-align:left;
        margin-left:5%;
    }
    
    .button{
        margin:5% !important;
        color:blue;
    }
    
    
}