.cartBox{
    width:65%;
    margin:auto;
}

.ImgSpecs{
width:94%;
margin: 3% 0 0 3%;
border-radius: 20px;
font-size: 18px;
background-color: rgb(236, 247, 247);
box-shadow: rgb(173, 231, 240) 0px 0px 0px 2px, rgb(174, 205, 241) 0px 4px 6px -1px, rgb(255, 255, 255) 0px 1px 0px inset;
}

.image{
    width:90%;
    height:90%;
    margin-top: 3%;
    object-fit: contain;
}

.Item{
    display:flex;
    height:38vh;
    margin:2% 0;
    border-radius: 20px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.contents{
    width:50%;
    line-height: 15px;
    color:rgb(133, 72, 7);
    border-left:6px double rgb(186, 175, 175);
}

.Button{
    display:flex;
    width:40%;
    margin:auto;
    margin-top:-3%;
    justify-content:space-between;
}

.Button > button{
    background:rgb(23, 84, 110);
    font-size: 20px;
    color:white;
    border:none;
    width:40px;
    font-weight: 900;
    border-radius:30px;
}

.Checkout{
    background:rgb(247, 98, 11) !important;
    color:white !important;
    margin-top:5% !important;
    margin-right:4% !important;
}


@media only screen and (min-width:376px) and (max-width:768px){
    
    .cartBox{
        width:94%;
    }
    
    .ImgSpecs{
    width:94%;
    margin: 3% 0 0 3%;
    font-size: 19px;
    }
    
    .Item{
        height:35vh;
        margin:2% 0;
        border-radius: 10px;

    }
    
    .contents{
        width:50%;
        font-size: 24px;
        line-height: 16px;
    }
    
    .Button{
        width:50%;
        margin-top:0%;
    }
    
    .Button > button{
        font-size: 30px;
        width:60px;
        border-radius:25px;
    }
    
    .Checkout{
        background:rgb(247, 98, 11) !important;
        color:white !important;
        margin-top:5% !important;
        margin-right:8% !important;
        height:5vh !important;
        font-weight: 900 !important;
    }

}

@media only screen and (max-width:375px){
    
    .cartBox{
        width:98%;
    }
    
    .ImgSpecs{
    width:98%;
    margin: 3% 0 0 1%;
    }
    
    .Item{
        height:35vh;
        margin:2% 0;
        border-radius: 10px;

    }
    
    .contents{
        width:50%;
        font-size: 15px;
        line-height: 13px;
    }
    
    .Button{
        width:50%;
        margin-top:0%;
    }
    
    .Button > button{
        font-size: 20px;
        width:40px;
        border-radius:20px;
    }
    
    .Checkout{
        background:rgb(247, 98, 11) !important;
        color:white !important;
        margin-top:5% !important;
        margin-right:8% !important;
        height:7vh !important;
        font-weight: 900 !important;
    }

}